*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.container{
    background-image: url(images/bgpic.jpg);
    background-size: cover;
    height: 100vh;
    width: 100%;
    background-position: center;
    position: relative;
}
.navbar{
    width:88%;
    margin: auto;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    height: 50px;
    
}
.logo{
    padding-top: 10px;
    width: 70px;
    cursor: pointer;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 15px;
}
.navbar ul li a{
    text-decoration: none;
    cursor: pointer;
    color: rgb(3, 3, 3);
    font-size: 17px;
    font-weight: 500;
}
.content{
    width:50%;
    position: absolute;
    top: 35%;
    background: lightcoral;
    display:inline;
}
.left-col{
    margin: 5% 0 5% 12%;
}
.left-col h1{
    font-size: 60px;
    font-weight: 500;
    line-height: 80px;
    
}
.right-col{
    
    margin-right: 6%;
    margin-top: 120px;
    display: flex;
    align-items: center;
}
.right-col p{
    font-size: 50px;
    color: #ffffff;
    font-weight: 500;
    margin-left: 15px;
}
