*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    
}
.container{
    background-image: url(images/bgpic.jpg);
    background-size:cover;
    height: 100vh;
    width: 100%;
    background-position: center;
    position: relative;
}

.navbar{
    width:88%;
    margin: auto;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    height: 50px;
}
.logo{
    margin-top:10px;
    width: 70px;
    cursor: pointer;
}
.hamburger{
    background-color: transparent;
    border: 0;
    color: #9c3883;
    font-size: 20px;
    cursor:pointer;
    display: none;
}
.hamburger:focus{
    outline: none;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 15px;
}
.navbar ul li a{
    text-decoration: none;
    cursor: pointer;
    color: rgb(3, 3, 3);
    font-size: 17px;
    font-weight: 500;
}
.navbar ul li a:hover{
    text-decoration: underline #fff;
}
.content{
    height: 89vh;
    width: 100%;
    display: flex;
}
.left-content{
    width: 50%;
}
.left-content h1{
    font-size: 45px;
    font-family:sans-serif;
    color:rgb(94, 89, 67);
    line-height: 55px;
    padding-top: 30%;
    padding-left: 100px;
}
.right-content{
    width: 50%;
    display: flex;
    text-align: center;
}
.social-icons
{
    width: 150px;
    height: 330px;
    position: absolute;
    right: 0px;
    top: 222px;
    border-top-left-radius:275px 309px ;
    border-bottom-left-radius:328px 627px ;
    border-bottom-right-radius:108px 345px ;
    background-image: linear-gradient(#363136,#fd3ecd);
}
.social-icons ul
{
    display: block;
    color: #fff;
    margin: 80px 0 0 -20px;
    cursor: pointer;
}
.social-icons ul li
{
    list-style: none;
    margin-top: 20px;
}
.social-icons ul li .fa
{
    font-size: 22px;
    z-index: 1;
}

/* Cards Section */
.cards-section{
    height: 550px;
    width: auto;
    /* background-color:rgb(16, 41, 41); */
    /* position: relative; */
}
.cards-section .cards{
    /* position: absolute;
    top:190px; */
    margin-top: 220px;
    height: 400px;
    width: 330px;
    margin: 100px auto;
    /* margin: px auto; */
    /* background-color: bisque; */
    /* border-radius: 10px; */
    display: flex;
    flex-direction: column;
    box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.15),
                -6px -6px 10px -1px rgba(255,255,255,0.7);
    border: 2px solid #e8f4f5;
}
.cards .img-block{
    height: 200px;
    width: auto;
}
.img-block img{
    background-size:contain;
    background-position: center;
    height: 280px;
    width: 330px;
}
.cards .profile-datas{
    height: 220px;
    background-color:rgb(218, 231, 231);
    display: flex;
    flex-direction: column;
    justify-content: left;
    border-top-right-radius: 100px;
    padding-left: 14px;
    /* margin-top: -20px; */
}
.profile-datas h3{
    padding-top:15px;
    font-size: 16px;
    font-weight: 600;
    font-family: monospace;
}
.profile-datas .star-rating{
    padding-top: 8px;
    width: auto;
}
.star-rating .fas{
    color:darkcyan;
}
.profile-datas p{
    font-size: 12px;
    padding-top: 8px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    padding-right: 14px;
    line-height: 19px;
    letter-spacing: 1px;
}
.profile-datas .buttons{
    display: flex;
    align-items:center;
    justify-content:space-around;
    margin-top: 15px;
}
.buttons .callme-btn{
    width: 100px;
    height: 28px;
    border-radius: 15px;
    border:1px solid rgb(128, 118, 118);
    cursor: pointer;
}
.buttons .share-btn{
    width: 80px;
    height: 28px;
    border-radius: 15px;
    border:1px solid rgb(128, 118, 118);
    cursor: pointer;
}
.buttons .share-btn .fas{
    color: darkcyan;
}




/*.social-media-position{
    height: 300px;
    width: 250px;
    background: chartreuse;
    margin: 200px 0px 0px 520px;
    
}
.social-icons ul
{
    display: block;
    color: #fff;
    width: 100px;
    height: 100px;
}
.social-icons ul li{
    list-style: none;
}
.social-icons ul li .fab
{
    cursor: pointer;   
}*/



/* Media Queries */

@media screen and (max-width: 480px){
    .navbar{
        /* flex-direction: column; */
    }
    .nav-ul{
        display: none;
        width: 100%;
        flex-direction: column;
        text-align: center;
        background-color: #54334c;
        z-index: 10;
    }
    .nav-ul.show{
        display: flex;
    }
    .hamburger{
        display: block;
    }
    .navbar ul li{
        margin: 4px 5px;
        padding: 10px 10px;
        border-bottom: 0.5px solid rgb(141, 141, 141);
    }
    .navbar ul li a{
        font-size: 15px;
        color: #fff;
    }
    .logo{
        margin-bottom: 10px;
    }
    .left-content h1{
        font-size: 26px;
        font-family: sans-serif;
        color: rgb(255 249 223);
        line-height: 38px;
        padding-top: 67%;
        padding-left: 70px; 
    }
    .social-icons {
        width: 92px;
        height: 289px;
        position: absolute;
        right: 0px;
        top: 222px;
        border-bottom-right-radius: 0px 345px;
    }
    .social-icons ul {
        margin: 80px 0 0 18px;
    }

    /* Cards Section */
.cards-section{
    /* background-color:rgb(16, 41, 41); */
    /* position: relative; */
}
.cards-section .cards{
    /* position: absolute;
    top:190px; */
    /* right: 100px; */
    height: 300px;
    width: 290px;
    margin: 100px auto;
    /* background-color: bisque; */
    /* border-radius: 10px; */
    display: flex;
    flex-direction: column;
    box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.15),
                -6px -6px 10px -1px rgba(255,255,255,0.7);
    border: 2px solid #e8f4f5;
}
.cards .img-block{
    height: 150px;
    width: auto;
}
.img-block img{
    background-size:contain;
    background-position: center;
    height: 220px;
    width: 290px;
}
.cards .profile-datas{
    height: 150px;
    background-color:rgb(218, 231, 231);
    display: flex;
    flex-direction: column;
    justify-content: left;
    border-top-right-radius: 100px;
    padding-left: 14px;
    /* margin-top: -20px; */
}
.profile-datas h3{
    padding-top:10px;
    font-size: 13px;
    font-weight: 600;
    font-family: monospace;
}
.profile-datas .star-rating{
    padding-top: 5px;
    width: auto;
}
.star-rating .fas{
    color:darkcyan;
}
.profile-datas p{
    font-size: 10px;
    padding-top: 6px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    padding-right: 14px;
    line-height: 15px;
    letter-spacing: 1px;
}
.profile-datas .buttons{
    display: flex;
    align-items:center;
    justify-content:space-around;
    margin-top: 7px;
}
.buttons .callme-btn{
    width: 80px;
    height: 25px;
    border-radius: 15px;
    border:1px solid rgb(128, 118, 118);
    cursor: pointer;
}
.buttons .share-btn{
    width: 70px;
    height: 25px;
    border-radius: 15px;
    border:1px solid rgb(128, 118, 118);
    cursor: pointer;
}
.buttons .share-btn .fas{
    color: darkcyan;
}}

@media screen and (min-width: 481px) and (max-width:768px){
    .navbar{
        /* flex-direction: column; */
    }
    .nav-ul{
        display: none;
        width: 100%;
        flex-direction: column;
        text-align: center;
        background-color: #54334c;
        z-index: 10;
    }
    .nav-ul.show{
        display: flex;
    }
    .hamburger{
        display: block;
    }
    .navbar ul li{
        margin: 4px 5px;
        padding: 10px 10px;
        border-bottom: 0.5px solid rgb(141, 141, 141);
    }
    .navbar ul li a{
        font-size: 15px;
        color: #fff;
    }
    .logo{
        margin-bottom: 10px;
    }
    .left-content h1{
        font-size: 32px;
        font-family: sans-serif;
        color: rgb(255 249 223);
        line-height: 43px;
        padding-top: 72%;
        padding-left: 70px; 
    }
    .social-icons {
        width: 92px;
        height: 289px;
        position: absolute;
        right: 0px;
        top: 222px;
        border-bottom-right-radius: 0px 345px;
    }
    .social-icons ul {
        margin: 80px 0 0 18px;
    }
    /* Cards Section */
.cards-section{
    /* background-color:rgb(16, 41, 41); */
    /* position: relative; */
}
.cards-section .cards{
    /* position: absolute;
    top:190px; */
    /* right: 100px; */
    height: 300px;
    width: 290px;
    margin: 100px auto;
    /* background-color: bisque; */
    /* border-radius: 10px; */
    display: flex;
    flex-direction: column;
    box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.15),
                -6px -6px 10px -1px rgba(255,255,255,0.7);
    border: 2px solid #e8f4f5;
}
.cards .img-block{
    height: 150px;
    width: auto;
}
.img-block img{
    background-size:contain;
    background-position: center;
    height: 220px;
    width: 290px;
}
.cards .profile-datas{
    height: 150px;
    background-color:rgb(218, 231, 231);
    display: flex;
    flex-direction: column;
    justify-content: left;
    border-top-right-radius: 100px;
    padding-left: 14px;
    /* margin-top: -20px; */
}
.profile-datas h3{
    padding-top:10px;
    font-size: 13px;
    font-weight: 600;
    font-family: monospace;
}
.profile-datas .star-rating{
    padding-top: 5px;
    width: auto;
}
.star-rating .fas{
    color:darkcyan;
}
.profile-datas p{
    font-size: 10px;
    padding-top: 6px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    padding-right: 14px;
    line-height: 15px;
    letter-spacing: 1px;
}
.profile-datas .buttons{
    display: flex;
    align-items:center;
    justify-content:space-around;
    margin-top: 7px;
}
.buttons .callme-btn{
    width: 80px;
    height: 25px;
    border-radius: 15px;
    border:1px solid rgb(128, 118, 118);
    cursor: pointer;
}
.buttons .share-btn{
    width: 70px;
    height: 25px;
    border-radius: 15px;
    border:1px solid rgb(128, 118, 118);
    cursor: pointer;
}
.buttons .share-btn .fas{
    color: darkcyan;
}

}    
